@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500&family=Inter:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Nunito+Sans:wght@400;600;700;800&family=Open+Sans:wght@400;700&family=Orelega+One&family=Playfair+Display:wght@400;500&family=Poppins:wght@400;500;600;700;800&family=Prata&family=Roboto:wght@300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700;800&family=Heebo:wght@300;400;500&family=Inter:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Nunito+Sans:wght@400;600;700;800&family=Open+Sans:wght@400;700&family=Orelega+One&family=Playfair+Display:wght@400;500&family=Poppins:wght@400;500;600;700;800&family=Prata&family=Roboto:wght@300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800&display=swap');


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    min-height: 100vh;
}

.container {
    width: 100%;
}

.container2{
    width: 1200px;
}

/*   ---  HEADER + HERO QISM ---    */

#site-header {
    width: 100%;
    height: 685px;
    background-image: url('../images/stark_home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 2000;
}

.logo-link {
    padding: 0 15px;
    margin: 0 15px;
}

.nav-item {
    padding: 40px 0;
    margin: 0 20px;
}

.nav-link {
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-link::after {
    content: '';
    width: 0;
    height: 2px;
    display: block;
    background-color:#d88f0f;
    opacity: 0;
    transition: all 0.4s ease;
    margin-top: 5px;
}

.nav-item:hover .nav-link::after {
    opacity: 1;
    width: 100%;
}

.nav-item {
    position: relative;
}

.nav-item:nth-child(1):hover .home-drop {
    display: block;
}

/*  --- HOME DROP ---    */

.home-drop {
    width: 900px;
    height: 190px;
    padding: 12px;
    background-color: #fff;
    position: absolute;
    top: 106px;
    left: -220px;
    text-align: center;
    display: none;
}

.home-title {
    color: #494949;
    font-size: 13px;
    text-transform: uppercase;
}

.home-title::after {
    content: '';
    width: 35%;
    height: 1px;
    display: block;
    background-color: #D88F0F;
    text-align: center;
    margin: 5px auto;
}

.home-item{
    overflow: hidden;
}

.home-item img {
    margin-bottom: 10px;
    transition: all 0.5s ease;
}

.home-item:hover img {
    transform: scale(1.1);
}

/*  CATEGORY DOWN   */

.category-down {
    width: 890px;
    height: 345px;
    background-color: #fff;
    padding: 20px;
    position: absolute;
    top: 106px;
    left: -300px;
    display: none;
    z-index: 50;
}

.nav-item:nth-child(2):hover .category-down {
    display: block;
}

.category-title {
    color: #333;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: -0.2px;
    margin-bottom: 20px;
    position: relative;
}
.category-title::after{
    content: '';
    width: 15%;
    height: 1px;
    display: inline-block;
    background-color: #D88F0F;
    text-align: center;
    margin: 5px auto;
    position: absolute;
    bottom: -10px;
    left: 0;
}


.category-list {
    margin-bottom: 50px;
}

.category-img {
    overflow: hidden;
}

.category-img img {
    transition: all 1s ease;
    margin-left: 15px;
}

.category-img:hover img {
    transform: scale(1.1);
}

/*    --- LIVING ITEM --- */


.living-item:not(:last-child) {
    margin-bottom: 10px;
}

.living-item {
    font-size: 13px;
    color: #535353;
    display: flex;
    align-items: center;
    position: relative;
}

.living-item:hover {
    color: #d88f0f;
}

.living-item:hover .living-item::before {
    color: #d88f0f;
}

.living-item::before {
    content: '';
    width: 3.5px;
    height: 3.5px;
    background-color: #535353;
    display: block;
    margin-right: 10px;
}

.living-list-in{
    background-color: #fff;
    padding: 15px 20px 15px 10px;
    position: absolute;
    top: 60px;
    right: 140px;
    font-size: 12px;
    box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.87);
    border-radius: 5px;
    line-height: 20px;
    display: none;
}  
/*  YUQORIDAGI QISM DISPLAY BLOCK QILINISHI KERAK */


/* ----  SHOP-DOWN QISMI ---- */

.shop-down {
    width: 900px;
    height: 355px;
    padding: 10px;
    background-color: #fff;
    position: absolute;
    top: 106px;
    left: -450px;
    text-align: center;
    display: none;
    z-index: 200;
}

.nav-item:nth-child(3):hover .shop-down {
    display: block;
}

.shop-item {
    margin-bottom: 12px;
    overflow: hidden;
}

.shop-item img {
    margin-bottom: 10px;
    transition: all 0.8s ease;
}

.shop-item:hover img {
    transform: scale(1.1);
}

.shop-title {
    text-transform: uppercase;
    font-size: 13px;
    color: rgb(71, 71, 71);
    font-weight: 500;
}

.bx-chevron-down {
    font-size: 18px;
    margin-top: -8px;
    margin-left: 2px;
    color: #fff;
}

.bx-search {
    font-size: 22px;
    color: #fff;
}

.bx-user {
    font-size: 22px;
    color: #fff;
}

.bx-basket {
    font-size: 22px;
    color: #fff;
}

.btn {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.btn:focus{
    outline: none;
}


/* ---- DESC CHAIR BLOCK ----   */

.desc-chair {
    position: relative;
    z-index: 0;
}

.title-block {
    position: absolute;
    top: 300px;
    left: 200px;
    z-index: -2;
}

.chair-span {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: capitalize;
    color: #fff;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 22px;
    animation: letters 2s linear forwards;
    transition: all 1s ease;
}

.chair-title {
    font-family: 'Barlow Condensed', sans-serif;
    margin-bottom: 35px;
    color: #fff;
    font-size: 63px;
    letter-spacing: -6px;
    font-weight: 500;
}

.tab {
    padding: 0 5px;
}

.chair-title span:nth-child(1) {
    animation: letters 1.9s linear forwards;
}

.chair-title span:nth-child(2) {
    animation: letters 2s linear forwards;
}

.chair-title span:nth-child(3) {
    animation: letters 2.1s linear forwards;
}

.chair-title span:nth-child(4) {
    animation: letters 2.3s linear forwards;
}

.chair-title span:nth-child(5) {
    animation: letters 2.4s linear forwards;
}

.chair-title span:nth-child(6) {
    animation: letters 2.5s linear forwards;
}

.chair-title span:nth-child(7) {
    animation: letters 2.6s linear forwards;
}

.chair-title span:nth-child(8) {
    animation: letters 2.7s linear forwards;
}

.chair-title span:nth-child(9) {
    animation: letters 2.8s linear forwards;
}

.chair-title span:nth-child(10) {
    animation: letters 2.9s linear forwards;
}

.chair-title span:nth-child(11) {
    animation: letters 3s linear forwards;
}

.chair-title span:nth-child(12) {
    animation: letters 3.1s linear forwards;
}

.chair-title span:nth-child(13) {
    animation: letters 3.2s linear forwards;
}

.chair-title span:nth-child(14) {
    animation: letters 3.4s linear forwards;
}

@keyframes letters {
    0% {
        opacity: -1;
        filter: blur(10);
    }
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.chair-btn {
    font-family: 'Barlow Condensed', sans-serif;
    padding: 10px 22px;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 6px;
    border: none;
    letter-spacing: -0.5px;
    animation: btn-animation 1s ease forwards;
    opacity: 0;
    z-index: 0;

}

@keyframes btn-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* ------- MODUL-SEARCH ----- */



.modul-search {
    width: 100%;
    height: 570px;
    background-color: #fff;
    padding: 100px 20px;
    position: fixed;
    top: -570px;
    left: 0;
    z-index: 2200;
    transition: all 0.5s ease;
    opacity: -1;
}

#close-btn {
    border: none;
    background-color: transparent;
}

.close-block {
    margin-bottom: 50px;
}

.close-text {
    font-size: 15px;
    letter-spacing: -0.5px;
}

.bx-x {
    color: rgb(73, 73, 73);
    font-size: 30px;
}

#close-btn:hover .bx-x {
    color: #D88F0F;
}

.srch-input {
    padding: 20px 10px;
    width: 97%;
    border: none;
    border-bottom: 2px solid #535353;
    font-size: 30px;
}

.srch-input:focus {
    outline: none;
    margin-bottom: 50px;
}

.search-btn-input {
    border: none;
    background-color: transparent;
}

.input-sr {
    color: #535353;
    font-size: 30px;
}

.found-text {
    font-size: 15px;
}

.show{
    opacity: 1;
    top: 0;
}

/*   -----  MODAL USER ----- */

.login-user {
    width: 320px;
    background-color: #fff;
    padding: 70px 20px 50px;
    position: fixed;
    top: 0;
    right: -320px;
    opacity: -1;
    transition: all 1s ease;
    z-index: 2220;
}

.shows{
    opacity: 1;
    right: 0;
}

#closeLogin{
    border: none;
    background-color:#d4d3d3;
    border-radius: 50%;
    position: relative;
    top: -35px;
    padding: 15px;
    cursor: pointer;
}


.left-cross::after{
    content: '';
    width: 20px;
    height: 2px;
    position: absolute;
    top: 13px;
    left: 5px;
    background-color: #6e6e6e;
    display: block;
    transform: rotate(45deg);
    transition: all 0.4s ease;
}
.left-cross::before{
    content: '';
    width: 20px;
    height: 2px;
    position: absolute;
    top: 13px;
    left: 5px;
    background-color: #6e6e6e;
    display: block;
    transform: rotate(-45deg);
    transition: all 0.4s ease;
}

.left-cross:hover .left-cross::after{
    transform: rotate(360deg);
}
.left-cross:hover .left-cross::before{
    transform: rotate(180deg);
}

/*  --- YUQORIDAGI QISMNI ISHLATIB QO'Y --- */

.login-sing {
    margin-bottom: 20px;
}

.login-link {
    cursor: pointer;
    width: 50%;
    text-align: center;
    padding: 5px 30px;
    font-weight: 600;
    color: #999;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: -0.7px;

}

.right-reg {
    color: #222;
    border-right: 1px solid #e6e6e6;
}

.login-form {
    margin-bottom: 10px;
}

.input-email,
.input-password {
    width: 100%;
    border: 1px solid #ccc;
    height: 50px;
    color: #666;
    padding: 0.6rem 1rem;
    font-size: 13px;
    line-height: 1.25;
    margin-bottom: 15px;
}

.input-email:focus,
.input-password:focus {
    outline: 1px solid #ccc;
}

.sign-btn {
    width: 100%;
    background: #222;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    letter-spacing: -0.7px;
    height: 50px;
    border: none;
    border-radius: 4px;
    margin-bottom: 15px;
}

.sign-btn:hover {
    background-color: #d88f0f;
}

.forgot {
    color: #999;
    padding: 4px 0;
    font-size: 13px;
}

.forgot:hover {
    color: #d88f0f;
}

.login-item {
    padding: 15px 0px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 13px;
}

.login-item:hover {
    color: #d88f0f;
}

.modal-login-link {
    font-size: 13px;
    color: #494949;
}

.login-item:hover .modal-login-link,
.icon-sign {
    color: #d88f0f;
}

.icon-sign {
    font-size: 13px;
    color: #222;
    padding-right: 5px;
}

.icon-flag {
    max-width: 20px;
    padding-right: 3px;
}

/* ------ MESSENGER-BOX ------*/

.mss-bx{
    font-size: 50px;
    color: #fff;
}

.messenger-btn{
    padding: 5px 5px 3.5px 5px;
    border-radius: 50%;
    background-color: #0A7CFF;
    border: none;
    cursor: pointer;
}

.messenger-block{
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.messenger-box{
    position: fixed;
    z-index: 1000;
    bottom: 0;
    right: -330px;
    width: 330px;
    height: 370px;
    background-color: #fff;
    border-radius: 25px;
    padding: 20px;
    margin: 30px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    z-index: 3000;
    transition: all 0.4s ease;
    opacity: 0;
}

.showmess{
    opacity: 1;
    right: 0;
    bottom: 70px;
}

.box-inner{
    display: flex;
    flex-direction: column;
}

.mess-title{
    font-size: 20px;
    color: #000;
    margin-bottom: 5px;
}

.mess-text1{
    color: #00000080;
    font-size: 13px;
    margin-bottom: 16px;
}

.mess-text2{
    color: #000;
    font-size: 14px;
    margin-bottom: 25px;
}

.xushnora-btn{
    font-size: 17px;
    color: #fff;
    background-color: #0a7cff;
    padding:13px 30px;
    border-radius: 13px;
    border: none;
    margin-bottom: 15px;
    cursor: pointer;
}

.guest-btn{
    font-size: 17px;
    color: #000;
    background-color: #F2F2F2;
    padding:13px 30px;
    border-radius: 13px;
    border: none;
    margin-bottom: 15px;
    cursor: pointer;
}

.mess-btns{
    margin-bottom: 20px;
}
.dots-btn,
.minus-btn{
    border: none;
    border-radius: 50%;
    background-color: #f2f2f2;
    padding: 7px 7px 5px 7px;
    cursor: pointer;
}

.mess-text3{
    font-size: 13px;
    color: #00000080;
}
.fc-link{
    color: #000;
    font-size: 13px;
}
.fc-link:hover{
    border-bottom: 1px solid #000;
}

/* ---- THE END --- */

/*  ---- DISCOVER-BLOCK -----  */

.discover-block{
    padding-bottom: 100px;
}

.discover-item:nth-child(1) .for-img{
    width: 100%;
    height: 100%;
    background-image: url('../images/stark_home3-banner1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.discover-item:nth-child(2) .for-img{
    width: 100%;
    height: 100%;
    background-image: url('../images/stark_home3-banner2.jpg');
    background-size: contain;
    background-repeat: no-repeat;

}

.discover-item:nth-child(3) .for-img{
    width: 100%;
    height: 100%;
    background-image: url('../images/stark_home3-banner3.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.for-img{
    transition: all 0.5s ease;
    width: 450px;
    height: 281px;
}

.discover-item:hover .for-img{
    transform: scale(1.1);
}

.discover-item{
    position: relative;
    overflow: hidden;
    height: 281px;
    width: 100%;
}

.discover-text-box{
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 120;
}

.discover-span {
    display: inline-block;
    color: #888;
    font-size: 12px;
    margin-bottom: 5px;
}

.discover-title{
    font-size: 40px;
    color: #222;
    margin-bottom: 28px;
    width: 100px;
}

.discover-link{
    font-family: 'Barlow Condensed', sans-serif;
    color: #222;
    font-size: 14px;
    padding: 5px 0;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
}

.discover-link::after{
    content: '';
    width: 97%;
    height: 2px;
    background-color:#d88f0f;
    display: block;
    position: absolute;
}

/* ---- THE END ---- */




